{% if banner.isImage() %}
	<a{% if banner.url is not empty %} href="{{ banner.url }}"{% endif %}{% if banner.newWindow %} target="_blank"{% endif %}>
		<img id="banner-image-{{ banner.id }}" data-normal="{{ banner.media.url }}" data-hover="{{ banner.hoverMedia ? banner.hoverMedia.url : '' }}" alt="{{ banner.imageAlt }}" title="{{ banner.imageTitle }}" src="{{ asset(banner.media.url) }}" />
	</a>
{% else %}
    {{ banner.html | raw }}
{% endif %}
{% if banner.media  and banner.hoverMedia %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var $img = $('#banner-image-{{ banner.id }}');
            $img.hover(function () {
                if ($img.data('hover')) {
                    $img.prop('src', $img.data('hover'));
                }
            }, function () {
                if ($img.data('normal')) {
                    $img.prop('src', $img.data('normal'));
                }
            });
        });
    </script>
{% endif %}